body {
  background-color: white;
  font-family: Arial;
}

.container {
  width: 350px;
  background-color: white;
  margin: 80px auto;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.icon {
  font-size: 30px;
  margin-bottom: 10px;
}

h2 {
  margin-bottom: 5px;
  font-weight: bold;
}

.subtitle {
  font-size: 13px;
  color: gray;
  margin-bottom: 20px;
}

.row {
  display: flex;
  gap: 25px;
}

.input-box {
  text-align: left;
  margin-bottom: 15px;
  width: 100%;
}

label {
  font-size: 13px;
  font-weight: 500;
}

input {
  width: 100%;
  height: 35px;
  margin-top: 5px;
  padding-left: 8px;
  border-radius: 8px;
  border: 1px solid;
  background-color: gainsboro;
}

input:focus {
  border-color: dodgerblue;
  background-color: white;
  outline: none;
}

button {
  width: 100%;
  height: 40px;
  background-color: dodgerblue;
  color: white;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  font-size: 14px;
  cursor: pointer;
}

button:hover {
  background-color: dodgerblue;
}

.bottom-text {
  margin-top: 15px;
  font-size: 13px;
  color: darkgrey;
}

.bottom-text a {
  color: dodgerblue;
  text-decoration: none;
  font-weight: bold;
}

.bottom-text a:hover {
  text-decoration: underline;
}

.role-selector {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.role {
  padding: 8px 18px;
  color: #000;
  border-radius: 25px;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s;
}

.role.active {
  background-color: #e6f0ff;
  border: 2px solid #2f80ed;
  color: #2f80ed;
}
