.digital-id-page {
  padding: 40px 60px;
  font-family: "Poppins", "Segoe UI", sans-serif;
}

/* العنوان */
.digital-id-page h2 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 35px;
}

/* الكونتينر اللي فيه الكروت */
.id-container {
  display: flex;
  align-items: flex-start;
  gap: 80px; /* المسافة بين الكاردين */
}